@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

#app {
  display: flex;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.sidebar {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 20%;
  height: 100%;
  padding: 10px;
  background: linear-gradient(4deg, rgb(28, 37, 69) 0%, rgb(28, 15, 84) 100%);
  box-shadow: rgba(0, 3, 32, 0.5) 0px -5px 25px;
  position: inherit;
  top: 0;
  left: 0;
  background-color: #f0f0f0;
  cursor: ew-resize;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.menu .active {
  border-radius: 5px;
  background: #32395e;
  color: #fff;
}

.menu a {
  transition: all 0.5s ease;
}

.menu a:hover {
  border-radius: 5px;
  background: #32395e;
  color: #fff;
  transform: 0.5s liner;
}

.menu hr {
  border: 1px solid #1288e8;
  margin: 0px 0 20px 0;
}

.menu a:nth-child(2) {
  margin: 20px 0 0 0;
}

.menu a {
  height: 41px;
  padding: 0 12px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 10px;
  position: relative;
  color: #616a8b;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.menu a::before,
.menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #1288e8;
  transition: width 0.5s, left 0.3s;
}

.menu a::before {
  left: 50%;
  transform: translateX(-100%);
}

.menu a::after {
  right: 50%;
  transform: translateX(100%);
}

.menu a:hover:not(:first-child)::before,
.menu a:hover:not(:first-child)::after {
  width: 50%;
}

.menu .active::before,
.menu .active::after {
  width: 50%;
}

.menu #home {
  margin: 10% 0% 10% 15%;
  background: linear-gradient(292deg, #3887fe 0%, #3ba0ff 49.72%, #5fb2ff 100%);
  width: 8ch;
  font-size: 30px;
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 0;
  border-bottom: 2px solid #1288e8;
  cursor: pointer;
}

.menu #bottom {
  margin: 25vh 0 8% 0;
}

img {
  max-width: 100%;
}

/* MAIN PAGE */
.main {
  background: radial-gradient(87.34% 56.16% at 46.63% 48.05%, #20135c 0%, #140739 92.82%);
  box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100vh;
}

header {
  height: 75px;
  width: 100%;
  background: rgba(35, 11, 100, 0);
  border-bottom: 1px solid #2d317a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search form {
  display: flex;
  height: 32px;
}

.search input {
  height: 100%;
  width: 300px;
  padding: 0 0px 0 15px;
  border: none;
  font-size: 18px;
  border-radius: 40px 0 0 40px;
  background: rgba(32, 19, 92, 0.6823529412);
  box-shadow: 0px 4px 20px 0px rgba(3, 16, 52, 0.5);
  color: white;
  outline: none;
}

.search button {
  width: 53px;
  height: 100%;
  border: none;
  color: white;
  border-radius: 0 40px 40px 0;
  display: flex;
  justify-content: center;
  background: rgba(32, 19, 92, 0.6823529412);
  box-shadow: 0px 4px 20px 0px rgba(3, 21, 72, 0.5);
  align-items: center;
  cursor: pointer;
}

header .notice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 8px;
  color: #1288e8;
  font-size: 18px;
}

.mail {
  cursor: pointer;
}

.mail span {
  box-shadow: 0px 4px 20px 0px rgba(8, 32, 97, 0.607);
}

.bell span {
  box-shadow: 0px 4px 20px 0px rgba(8, 32, 97, 0.607);
}

.bell {
  padding-top: 7px;
  cursor: pointer;
}

.page-wrapper {
  width: 100%;
  min-height: 85%;
  position: relative;
}
.page-wrapper .page {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -400%;
  opacity: 0;
  transition: 0.5s ease;
}
.page-wrapper .page:nth-child(3) {
  background-color: orange;
}
.page-wrapper .page:nth-child(4) {
  background-color: green;
}
.page-wrapper .show-page {
  bottom: 0%;
  opacity: 1;
}

#overview {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#overview .overview__top .top__header {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
}
#overview .overview__top .top__header .header__left-section {
  display: flex;
  align-items: center;
  gap: 40px;
}
#overview .overview__top .top__header .header__left-section h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
#overview .overview__top .top__header .header__left-section span {
  color: #54669c;
  font-size: 14px;
  font-weight: 600;
}
#overview .overview__top .top__header .header__right-section button {
  width: 125px;
  height: 32px;
  border-radius: 25px;
  background: linear-gradient(292deg, #3887fe 0%, #3ba0ff 49.72%, #5fb2ff 100%);
  box-shadow: 0px 2px 4px 0px rgba(85, 35, 221, 0.4);
  cursor: pointer;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  transition: 0.3s ease;
}
#overview .overview__top .top__header .header__right-section button:active {
  scale: 0.95;
}
#overview .overview__top .top__content {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  gap: 20px;
}
#overview .overview__top .top__content .widgets-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
#overview .overview__top .top__content .widgets-box .coin_cart {
  width: 100%;
  height: 148px;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(237.07deg, #604392 -8.06%, #0f0b38 96.63%);
}
#overview .overview__top .top__content .widgets-box .coin_name {
  font-size: 14px;
  font-weight: 700;
  color: white;
}
#overview .overview__top .top__content .widgets-box .coin_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#overview .overview__top .top__content .widgets-box .coin_logo_r2 {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#overview .overview__top .top__content .widgets-box .coin_logo_r1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#overview .overview__top .top__content .widgets-box .coin_balans {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#overview .overview__top .top__content .widgets-box .coin_balans_1 {
  font-size: 14px;
  font-weight: 700;
  color: white;
}
#overview .overview__top .top__content .widgets-box .coin_balans_2 {
  font-size: 12px;
  font-weight: 700;
  color: rgb(97, 106, 139);
}
#overview .overview__top .top__content .widgets-box .hr {
  width: 95%;
  height: 1px;
  border: 0;
  background-color: rgb(100, 70, 150);
}
#overview .overview__top .top__content .widgets-box .hr:last-child {
  display: none;
}
#overview .overview__top .top__content .widgets-box .coin_kurs {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
#overview .overview__top .top__content .widgets-box .coin_kurs_arrow {
  width: 15px;
  height: auto;
}
#overview .overview__top .top__content .widgets-box .coin_kurs_box {
  display: flex;
  gap: 11px;
  align-items: center;
}
#overview .overview__top .top__content .widgets-box .coin_kurs_val_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
#overview .overview__top .top__content .widgets-box .coin_kurs_val_1 {
  font-size: 8px;
  font-weight: 400;
  color: white;
}
#overview .overview__top .top__content .widgets-box .coin_kurs_val_2 {
  font-size: 6px;
  font-weight: 300;
  color: white;
}
#overview .overview__top .top__content h2 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
}
#overview .overview__top .top__content .box {
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(27, 18, 78, 0.2) 0%, #0f0b38 93.37%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
  padding: 16px 24px 24px;
}
#overview .overview__top .top__content .canvas_box {
  width: 145px;
  height: 146px;
  margin: 0 auto;
}
#overview .overview__top .top__content .chaked {
  width: 10px;
  height: 10px;
  margin-top: 6px;
  border-radius: 100%;
}
#overview .overview__top .top__content p {
  color: white;
}
#overview .overview__top .top__content .item {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
#overview .overview__top .top__content .flex_fonts {
  display: flex;
  gap: 10px;
}
#overview .overview__top .top__content .item_box {
  margin-top: 24px;
}
#overview .overview__top .top__content .color_two {
  width: 5px;
  height: 5px;
  background-color: #4e93f5;
  border-radius: 100%;
  margin: 0 auto;
}
#overview .overview__top .top__content .one_num {
  color: white;
}
#overview .overview__top .top__content .two_num {
  color: #018fff;
}
#overview .overview__top .top__content .three_num {
  color: #fad679;
}
#overview .overview__top .top__content .spending-chart {
  max-width: 238px;
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(27, 18, 78, 0.2) 0%, #0f0b38 93.37%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#overview .overview__top .top__content .spending-chart__header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 16px 24px 0;
}
#overview .overview__top .top__content .spending-chart__header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#overview .overview__top .top__content .spending-chart__header-top .title {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
#overview .overview__top .top__content .spending-chart__header-top select {
  border: none;
  background: none;
  outline: none;
  color: rgba(255, 255, 255, 0.737254902);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
  cursor: pointer;
}
#overview .overview__top .top__content .spending-chart__header-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  justify-content: space-between;
}
#overview .overview__top .top__content .spending-chart__header-bottom p {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
}
#overview .overview__top .top__content .spending-chart__header-bottom span {
  color: rgba(255, 255, 255, 0.662745098);
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
#overview .overview__bottom {
  display: grid;
  grid-template-columns: 1fr 500px;
  margin-top: 15px;
}
#overview .overview__bottom .market-chart {
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(179deg, rgba(27, 18, 78, 0.2) 0%, #0f0b38 93.37%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
}
#overview .overview__bottom .market-chart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px 14px;
}
#overview .overview__bottom .market-chart__header select {
  border: none;
  background: none;
  outline: none;
  color: rgba(255, 255, 255, 0.737254902);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
  cursor: pointer;
}
#overview .overview__bottom .market-chart__header-left {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
}
#overview .overview__bottom .market-chart__header-left .title {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
#overview .overview__bottom .market-chart__header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  justify-content: space-between;
}
#overview .overview__bottom .market-chart__header-right p {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
}
#overview .overview__bottom .market-chart__header-right span {
  color: rgba(255, 255, 255, 0.662745098);
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.header__title {
  color: white;
  font-size: 18px;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */