<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script async src="/modules/layout.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="trangsictions">
            <div class="text">
                <h1>trangsictions</h1>
            </div>
            <div class="trangsictions_btn">
                <button>Export History</button>
            </div>
        </div>
        <div class="total">
            <div class="total-text">
                <h2>Total</h2>
                <h2>1,543</h2>
            </div>
            <div class="total-btns">
                <button class="btn active">All</button>
                <button class="active">Red</button>
                <button class="active">Green</button>
            </div>
        </div>
        <div class="box">
            <div class="analitic">
                
                
                
            </div>
            <div class="scroll-down">
                <img class="scroll" width="10px" height="7px" src="/public/VectorscrollDown.png" alt="">
            </div>
        </div>
    </div>
    </div>
    <script src="index.js"></script>
</body>

</html>